body {
  background-color: white;
}

.app {
  display: flex;
  margin: 10px 0px 20px 0px;
}

.channels-list {
  flex: 0 0 10%;
  margin: 20px 20px 0 20px;
  position: sticky;
  top: 20px;
  text-align: center;


  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding-top: 16px;
  }

  li:hover {
    cursor: pointer;
  }
}

.channel-container {
  flex: 0 0 90%;
  margin-left: 32px;
}

.messages {
  margin-top: 20px;
}
