body {
  background-color: white;
}

.app {
  display: flex;
}

.channels-list {
  flex: 0 0 10%;
  padding: 20px 20px 0 20px;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #F4F4F4;
  height: 100vh;

  ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 16px;
  }

  li {
    padding-top: 16px;
  }

  li:hover {
    cursor: pointer;
  }
}

.channel-container {
  flex: 0 0 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px 0px 8px;
}

.channel-title {
  display: flex;
  font-weight: bold;
  border-bottom: .5px solid #d3d3d3;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.selected-channel {
  color: green;
  opacity: .8;
  padding-left: 6px;
}

.author {
  display: flex;
  align-items: center;

  h5 {
    padding-right: 8px;
  }

  small {
    font-size: 10px
  }
}

.messages {
  margin-top: 20px;
}

.message-information {
  padding-bottom: 20px;
  padding-left: 32px;
}

.message-form {
  width: 100%;
  padding: 32px 0px 32px 32px;
  border-top: .5px solid #d3d3d3;
}

.message-input {
  width: 80%;
  padding: 8px;
  border-radius: 2px;
  border-color: #d4d4d4;
}

.submit-button {
  padding: 11px 17px;
  margin-left: -1.5px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
